{% args pos,single %}
<div class="strip {{single["color"]}}">
    <div class="numbers">
        <div class="number" id="{{pos+100}}">
            <span>{{pos+100}}</span>
        </div>
        <div class="number-divider">
            <div class="triangle-right"></div>
        </div>
        <div class="number" id="{{pos+200}}">
            <span>{{pos+200}}</span>
        </div>
    </div>
    <div class="titles">
        <div class="title">
            <span>{{single["side_a"]}}</span>
        </div>
        <div class="artist">
            <span>{{single["artist"]}}</span>
        </div>
        <div class="title">
            <span>{{single["side_b"]}}</span>
        </div>
    </div>
</div>
