<div class="strip">
    <div class="numbers">
        <div class="number">
            <span>100</span>
        </div>
        <div class="number-divider">
            <div class="triangle-right"></div>
        </div>
        <div class="number">
            <span>200</span>
        </div>
    </div>
    <div class="titles">
        <div class="title">
            <span>Paranoid</span>
        </div>
        <div class="artist">
            <span>Art of Noise</span>
        </div>
        <div class="title">
            <span>Peter Gunn</span>
        </div>
    </div>
</div>
