{% args singles %}
{% include "head.tpl.html" "Title Strips" %}
<div id="strips">
{% for i,s in enumerate(singles) %}
    {% include "strip.tpl.html" i,s %} 
{% endfor %}
</div>

<script>
    $(".title").on("click", addSong)
    $(".number").on("click", addSong)

    function addSong() {
        songId = $(this).attr('id')
        fetch("/playlist/songs", {
            method: "POST",
            headers: {
                "Contest-Type": "application/json",
            },
            body: JSON.stringify({ song: songId })
        }).then(async response => {
            data = await response.json();
            console.log(data)
        })
    }
</script>

{% include "tail.tpl.html" %}